<div id="wrapper_content" class="d-flex flex-fill">		
	<aside id="aside-main" class="aside-start bg-gradient-purple aside-hide-xs d-flex align-items-stretch justify-content-lg-between align-items-start flex-column">

		<!-- LOGO -->
		<div class="align-self-baseline w-100">
			<div class="clearfix d-flex justify-content-between">

				<a class="w-100 align-self-center navbar-brand px-3" href="index.html">
					<img src="assets/images/logo/logo_light.svg" width="110" height="60" alt="...">
				</a>

			</div>
		</div>


		<div class="aside-wrapper scrollable-vertical scrollable-styled-light align-self-baseline h-100 w-100">
			<nav class="nav-deep nav-deep-dark nav-deep-hover">
				<ul class="nav flex-column">

					<li class="nav-item">
						<a class="nav-link js-ajax" href="/admin">
							<i class="fi fi-menu-dots"></i>
							<b>Администрирование</b>
						</a>
					</li>

					<li class="nav-item">

						<a class="nav-link">
							<span class="group-icon float-end">
								<i class="fi fi-arrow-end-slim"></i>
								<i class="fi fi-arrow-down-slim"></i>
							</span> 
							<i class="fi fi-user-plus"></i>
							
							Пользователи
						</a>

						<ul class="nav flex-column fs--15">

							<li class="nav-item">
								<a class="nav-link js-ajax" href="/users">
									Все пользователей	
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link js-ajax" href="/users/groups">
									Группы пользователей
								</a>
							</li>

						</ul>
					</li>
				</ul>
			</nav>
		</div>

		<!-- social -->
		<div class="d-flex align-self-baseline justify-content-center w-100 p-1">
			<a href="#" class="btn btn-sm btn-indigo bg-nogradient w-50 mt-2">
				<i class="fi fi-phone"></i>
			</a>

			<a href="#" class="btn btn-sm btn-indigo bg-nogradient w-50 mt-2">
				<i class="fi fi-chat"></i>
			</a>
		</div>

	</aside>	
